<!DOCTYPE html>
<html ng-app='MsgApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style> body { font-size: 1.2em; }</style>
    <title>Expressions and Interpolation</title>
  </head>
  <body>
    <h1>Choose your food</h1>
    <div ng-controller='MsgController'>
   
 <div>


 <button ng-click="chicken()">Chicken</button>&nbsp;&nbsp;&nbsp;&nbsp;  <button ng-click="pizza()">pizza</button>&nbsp;&nbsp;&nbsp;&nbsp;<button ng-click="burger()">burger</button>
        
  <p><button>check if too much</button></p>
 </div>
</div>
  </body>
</html>